:root {

  /* Tipografía */
  --font-display: 'Creepster', cursive;
  --font-body: 'Special Elite', monospace;

  /* Estado: Inicio */
  --color-primary: #960303;
  --color-secondary: rgb(153, 14, 14);
  --color-background: #515551;
  --color-surface: #be9d7c;

  /* Estado: Decisión */
  --color-decision: #ffd900;

  /* Estado: Final */
  --color-ending: #830000;

  /* Generales */
  --color-text: #000000;
  --color-border: #000000;

  --spacing-lg: 2rem;
  --spacing-md: 1.2rem;
  --radius: 0.6rem;
}