:root {

  /* Tipografía */
  --font-display: 'Creepster', cursive;
  --font-body: 'Special Elite', monospace;

  /* Estado: Inicio */
  --color-primary: #2aff2a;
  --color-secondary: rgb(153, 14, 14);
  --color-background: #0b0f0c;
  --color-surface: #132013;

  /* Estado: Decisión */
  --color-decision: #ffd900;

  /* Estado: Final */
  --color-ending: #ff3b3b;

  /* Generales */
  --color-text: #e8ffe8;
  --color-border: #39ff14;

  --spacing-lg: 2rem;
  --spacing-md: 1.2rem;
  --radius: 0.6rem;
}