a {
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: var(--radius);
  font-weight: bold;
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  transition: transform 0.2s ease, background 0.3s ease;
}

/* Hover */
a:hover {
  background: var(--color-ending);
  border-color: var(--color-ending);
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--color-ending);
}

/* Active */
a:active {
  transform: scale(0.95);
}